.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1,
h2,
h3 {
  color: #343a40;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
}
